
    <section>
      <div class="container">

          <h2>বিস্তারিত খবর</h2>
          <hr>

        <div class="section-content">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">

              <div class="blog-post">
                <div class="post-body">
                  <h3 class="serif"><a href="#"><%= single.title %> </a></h3>
                  <hr>
                  <p class="serif"><%= single.desc %> </p>
                  
                  </div>
                </div>
                <!-- end of blog post-->
              </div>

            </div>
          </div>
          <!-- end of row-->
          <div class="clearfix"></div>

        </div>
        <!-- end of container-->
      </div>
    </section>

   